<table style="width:100%">
  <tr>
    <th>Creator</th>
    <th>Date Created</th> 
  </tr>
  <tr>
    <td>{{oneSchedule.creator}}</td> 
  </tr>
  <tr>
    <td>{{oneSchedule.dateCreated}}</td> 
  </tr>
</table>