<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/site.css">
    <title>
        {{!-- {{#if title}}
            {{title}}
        {{else}}
            Error
        {{/if}} --}}
        Test
    </title>
</head>
<body>
    {{!-- <nav>
        <ul>
            <li><a href="/">Search another person</a></li>
        </ul>
    </nav> --}}
    <main>
        {{{body}}}
    </main>
</body>
</html>