<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>ScheduleMe</title>
    <link rel="stylesheet" href="/public/css/dashboard.css"> 
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>