<form action="/login" method="POST" id="loginForm">
    <div >
        <div class="card card-container">
            <div class='login-card'> <img src="../public/img/calendar.jpg" alt="calendar icon" class='calendar-icon'></div>
                <h1 id='login-h1'>Login to Start Scheduling </h1>
                <p id="profile-name" class="profile-name-card"></p>
                <span id="reauth-email" class="reauth-email"></span>
                <label for='inputEmail'> </label>
                <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
                <div><p></p></div>
                <label for='inputPassword'> </label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <div><p></p></div>
                <div>
                    {{#if error}}
                    <p class="errorMessage">Email or password is incorrect</p>
                    {{/if}}
                </div>
                <div><p></p></div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
            <div>
                <a href="/signup" class="sign-up" >Create an Account</a>
            </div>
        </div>
    </div>
</form>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

