body, html {
    margin:0;
    padding:0;
    background:#262626;
}

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,rgb(89, 133, 202) 0%,white 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.createdSchedule{
    width:50%;
    float:left;
    padding: 30px;
    margin-top: 110px;
    margin-left: 350px;
}

.invitedSchedule{
    width:50%;
    float:left;
    padding: 30px;
    margin-top: 110px;
    margin-left: 350px;
}
.hidden{
    display: none;
}
.container{
    position:absolute;
    top:10%;
    left:55%;
    transform:translate(-50%,-50%);
}
  
    ul {
        margin:0;
        padding:0;
    } 
    ul li {
        display:inline-block;
        transform-style:preserve-3d;
    }
    ul li a {
        color:#262626;
        font-size:16px;
        font-familY:arial;
        text-transform: uppercase;
        text-decoration:none;
        font-weight:bold;
        display:block;
        position:relative;
    }
    ul li a span {
        display:block;
        padding:15px 20px;
    }
    ul li a span:before {
        content:attr(title);
        position:absolute;
        top:0;
        left:0;
        background:#f30000;
        color:#fff;
        padding:15px 20px;
        transform-style:preserve-3d;
        transition:.3s;
        transform:rotateX(90deg) translateY(50px);
        transform-origin:bottom;
    }
    ul li a span:hover:before {
        transform:rotateX(0deg) translateY(0px);
    }
    ul li a span:after {
        content:attr(title);
        position:absolute;
        top:0;
        left:0;
        background:#fff;
        color:#262626;
        padding:15px 20px;
        transform-style:preserve-3d;
        transition:.3s;
        transform:rotateX(0deg) translateY(0px);
        transform-origin:top;
    }
    ul li a span:hover:after {
        transform:rotateX(90deg) translateY(-10px);
    }
    
    
    .article-title {
        font-family: sans-serif;
        color: white;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    