body, html {
    margin:0;
    padding:0;
    background:#262626;
}

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,rgb(89, 133, 202) 0%,white 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.createdSchedule{
    width:50%;
    float:left;
    padding: 30px;
    margin-top: 110px;
    margin-left: 350px;
}

.invitedSchedule{
    width:50%;
    float:left;
    padding: 30px;
    margin-top: 110px;
    margin-left: 350px;
}
.hidden{
    display: none;
}
.container{
    position:absolute;
    top:10%;
    left:55%;
    transform:translate(-50%,-50%);
}
  
    ul {
        margin:0;
        padding:0;
    } 
    ul li {
        display:inline-block;
        transform-style:preserve-3d;
    }
    ul li a {
        color:#262626;
        font-size:16px;
        font-familY:arial;
        text-transform: uppercase;
        text-decoration:none;
        font-weight:bold;
        display:block;
        position:relative;
    }
    ul li a span {
        display:block;
        padding:15px 20px;
    }
    ul li a span:before {
        content:attr(title);
        position:absolute;
        top:0;
        left:0;
        background:#f30000;
        color:#fff;
        padding:15px 20px;
        transform-style:preserve-3d;
        transition:.3s;
        transform:rotateX(90deg) translateY(50px);
        transform-origin:bottom;
    }
    ul li a span:hover:before {
        transform:rotateX(0deg) translateY(0px);
    }
    ul li a span:after {
        content:attr(title);
        position:absolute;
        top:0;
        left:0;
        background:#fff;
        color:#262626;
        padding:15px 20px;
        transform-style:preserve-3d;
        transition:.3s;
        transform:rotateX(0deg) translateY(0px);
        transform-origin:top;
    }
    ul li a span:hover:after {
        transform:rotateX(90deg) translateY(-10px);
    }
    
    
    .article-title {
        font-family: sans-serif;
        color: white;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
 
    
    section {
        background: wheat;
        padding-right: 85px;
        padding-top: 30px;
        padding-bottom: 20px;
        height: 100%;
        margin: auto;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #666;
    }
    
    .comment {
        overflow: hidden;
        padding: 0 0 1em;
        border-bottom: 1px solid #ddd;
        margin: 0 0 1em;
        margin-left: 40px;
        *zoom: 1;
        width: 80%;
    }
    
    .comment-img {
        float: left;
        margin-right: 33px;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .comment-img img { display: block }
    
    .comment-body { overflow: hidden }
    
    .comment .text {
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        background: #fff;
    }
    
    .comment .text p:last-child { margin: 0 }
    
    .comment .attribution {
        margin: 0.5em 0 0;
        font-size: 14px;
        color: #666;
    }
    
    /* Decoration */
    
    .comments, .comment { position: relative }
    
    .comments:before, .comment:before, .comment .text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 65px;
    }
    
    .comments:before {
        width: 3px;
        left: 105px;
        bottom: 0px;
        background: rgba(0,0,0,0.1);
    }
    
    .comment:before {
        width: 9px;
        height: 9px;
        border: 3px solid #fff;
        border-radius: 100px;
        margin: 16px 0 0 -6px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
        background: #ccc;
    }
    
    .comment:hover {
        /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */ 
        cursor: cell; /* This line is for the cursor */
    }
    
    .comment:hover:before { background: #3b5998 }
    
    .comment .text:before {
        top: 18px;
        left: 78px;
        width: 9px;
        height: 9px;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #e5e5e5;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }