* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-size: 14pt;
  }
  
  body {
    background: #dedede;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  main {
    max-width: 75%;
    margin: auto;
    background: #cce5ff;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
  }

  ul {
    list-style-type: square;
  }

  li {
    list-style-type: circle;
  }

  dl {
    border: 1px black solid;
  }

  section {
    border: 1px blue solid;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
  }
  
  .search {
    width: 75%;
    border-bottom: 1px dashed #333;
  }
  
  .search-form {
    max-width: 300px;
  }
  
  .search-form .full-width-input {
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
  }
  
  label {
    font-weight: bold;
  }
  
  .error {
    color: #ff0000;
  }

  .not-found {
    color: #ff0000;
    font-weight: bold
  }
  